
<div class="container navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container ">
        <p class="lead text-center">
            
            <small>@@copy2013-2016 雪豹科技有限公司所有</small>
           
        </p>
    </div>
</div>